<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

登录成功

用户名：{{.username}}
用户Id：{{.userid}}

<a href="/">首页</a>
<a href="/user/add">添加用户</a>

<!--<ul>-->
    <!--<li>ID: {{.user.Id}}</li>-->
    <!--<li>用户名: {{.user.Name}}</li>-->
    <!--<li>添加时间: {{.user.Created}}</li>-->
<!--</ul>-->

{{range $k, $v := .posts}}
<ul>
    <li>ID: {{$v.Id}}</li>
    <li>标题: {{$v.Title}}</li>
    <li>用户ID: {{$v.User.Id}}</li>
    <li>用户ID: {{$v.User.Name}}</li>

    <li><a href="/user/edit/{{$v.Id}}">编辑</a></li>
</ul>
{{ end }}

</body>
</html>